$my-red: #dc3545
$my-white: #ffffff
$my-faded: rgba(255,255,255,.7)
$ed-bg: url(../img/education-hero.jpg)
$skills-bg: url(../img/skills-hero.jpg)
$interests-bg: url(../img/music-hero.jpg)

h1
    color: $my-red


.jumbotron
    background-image: url("../img/keyboard.jpg")
    background-size: cover

@media screen and (max-width: 480px)
    .jumbotron
        background-color: #add8e6

.jumbo-container
    background-color: $my-faded


#social
    margin: 30px
    color: $my-white
    a
        color: $my-white
        &:hover
            color: $my-white
        &:active
            color: $my-white
        &:visited
            color: $my-faded
    text-align: center

.social-container
    background-color: $my-red
    padding: 30px

#intro
    padding: 2rem
    height: 15rem

    .container
        background-color: $my-faded
        margin: auto
        width: 80%
        padding: 1rem

.ed-intro
    background-image: $ed-bg
    background-size: cover

@media screen and (max-width: 480px)
    .ed-intro
        background-color: #add8e6

#courses
    padding: 2rem

.skills-intro
    background-image: $skills-bg
    background-size: cover

@media screen and (max-width: 480px)
    .skills-intro
        background-color: #add8e6

#skills
    padding-top: 2rem
    
#skill_table
   border-collapse: collapse
   width: 100%
   td
       border: 1px solid #ddd
       padding: 1rem
       width: 33%
       text-align: center
       img
           width: 5rem

.interests-intro
    background-image: $interests-bg
    background-size: cover

@media screen and (max-width: 480px)
    .interests-intro
        background-color: #add8e6




    
